header.header
	.container
		.header__inner
			.header__left
				.logo
					a(href="/")
						img(src="images/logo.png", srcset="images/logo@2x.png 2x", alt="")
				button.navbar-toggler
					span
					span

			nav.header__right
				ul.main-menu-list
					li
						a(href="#") Home
					li
						a(href="#") Tools
					li
						a(href="#") Courses
					li
						a(href="#") Services

					li
						a(href="#") Explore
					li
						a(href="#") How it works
				
				a(href="#").btn.btn-outline-white.header__btn
					| Compare
					span.badge-num
						| 321
//- 	